/* Webfont: Surgena-Italic */@font-face {
    font-family: 'SurgenaIta';
    src: url('Surgena-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('Surgena-Italic.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

